<footer class="bg-dark text-light py-4 mt-5">
  <div class="container">
    <div class="img-fluid">
        <img [src]="Image" alt="Logo" class="img-fluid mb-3" style="max-width: 150px;">
    </div>
    <div class="row">
      <!-- About section -->
      <div class="col-md-4 mb-3">
        <h5>YourBrand</h5>
        <p class="small">Delivering quality products and excellent customer service. Trusted by users worldwide.</p>
      </div>

      <!-- Links section -->
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
           <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="products">Products</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="categories">Categories</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="jewelery">Jewelery</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="address">address</a>
        </li>
        </ul>
      </div>

      <!-- Contact section -->
      <div class="col-md-4 mb-3">
        <h5>Contact Us</h5>
        <p class="small mb-1">123 Business St, Cairo, Egypt</p>
        <p class="small mb-1">Email: infoyourbrand.com</p>
        <p class="small">Phone: +20 123 456 7890</p>
      </div>
    </div>

    <hr class="border-light" />

    <div class="text-center small">
      © 2025 YourBrand. All rights reserved.
    </div>
  </div>
</footer>
