<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="home">
      <img [src]="Image" alt="Logo" width="30" height="30" class="d-inline-block align-text-top" />
      Company
    </a>

    <!-- Mobile toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
      aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav links -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Products (only if logged in) -->
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="products">Products</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="categories">Categories</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="jewelery">Jewelery</a>
        </li>
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="address">address</a>
        </li>

        <!-- Login -->
        <li class="nav-item" *ngIf="isBrowser && !isLoggedIn">
          <a class="btn btn-primary ms-2" routerLink="login">Login</a>
        </li>

        <!-- Register -->
        <li class="nav-item" *ngIf="isBrowser && !isLoggedIn">
          <a class="btn btn-primary ms-3" routerLink="register">Register</a>
        </li>

        <!-- Logout -->
        <li class="nav-item" *ngIf="isBrowser && isLoggedIn">
          <a class="btn btn-secondary ms-4" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>